

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mapboxgl-marker {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border:1px solid gray;
  background-color:lightblue;
}

.username-recent {
  margin: 0%;
  border: 0%;
}

.ui.secondary.menu {
  display: flex;
  justify-content: center;
}

#zip-search {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  max-width: 30%;
}

#near-map {
  position: relative;
  margin: 0 auto;
}

#car-photo {
  max-height: 117px;
  
}

#track-map {
  min-width: 400;
  min-height: 300;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

body > .grid {
	height: 100%;
}

#column {
	max-width: 360px;
}

